{% extends 'base.html' %}
{% block title %}사장님의 냉장고{% endblock title %}

{% block content %}
{# index components 폴더에 만들어진 요소들을 삽입합니다 #}
{% include 'boss/index_components/index_carousel.html' %}
<div class="body-wrap">
  <div class="body-content1">
    <div class="body-content1-header">
      <div class="body-content1-header-txt">오직 사장님을 위한! 쿠폰팩 증정</div>
      <button class="more-button">더보기<i class="ri-arrow-right-s-line more-icon"></i></button>
    </div>
    
    <div>💥 반값 초특가 상품도 만나보세요</div>
    <div class="content1-products">
      <div class="content1-block">
        <!--product 1개 block(디테일 링크연결)-->
      
        {% for product in  Products %}
        <a href="#" class="product-block">
            <div class="goods-image-wrap"><img src="{{ product.image.url }}" class="product-img" alt="img"></div>
            <div>{{ product.name }}</div>
            <div>(몇그램당 얼마/ 갯수)</div>
            <div>(할인된 가격)</div>
            <div>{{product.price}}</div>
        </a>
        {% endfor %}
       
      </div>
    </div>
   
  </div>
  
</div>

{% endblock content %}
