{% extends 'base.html' %}
{% block title %}사장님의 냉장고{% endblock title %}

{% block content %}
{# index components 폴더에 만들어진 요소들을 삽입합니다 #}
{% include 'boss/index_components/index_carousel.html' %}
<div class="body-wrap">
  <div class="body-content1">
    <div class="body-content1-header">
      <div class="body-content1-header-txt">오직 사장님을 위한! 쿠폰팩 증정</div>
      <button class="more-button">더보기<i class="ri-arrow-right-s-line more-icon"></i></button>
    </div>
    
    <div>💥 반값 초특가 상품도 만나보세요</div>
    {% for product in  Products %}
      <div>{{ product.name }}</div>
      <div> <img src="{{ product.image.url }} " alt=""></div>
    {% endfor %}
  </div>
  
</div>

{% endblock content %}
