{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Cart</h1>
<p>작성중</p>
<div class="row">
  <div class="col-8">
  {% for cart_item in cart_items %}
  <p>{{ cart_item.product.name }} / {{ cart_item.quantity }} / {{ cart_item.product.price }} / {{ cart_item.sub_total }}</p>
  <p>
    <a href="{% url 'cart:add_cart' cart_item.product.pk %}">증가</a>
    <a href="{% url 'cart:cart_remove' cart_item.product.pk %}">감소</a>
    <a href="{% url 'cart:full_remove' cart_item.product.pk %}">제거</a>
  </p>
  {% if forloop.last %}
  <p>{{ total }}</p>
  {% endif %}
  {% empty %}
  <p>장바구니가 비어있습니다. 텅~</p>
  {% endfor %}
  </div>
  <div class="col-4">
    <h1 class="text-center">KAKAO PAY</h1>
    <form method="post" class="col-12 text-center" action="{% url 'kakaopay:wait' %}">
      {% csrf_token %}
      <button class="btn btn-warning" onclick="window.open('{% url 'kakaopay:pay' cart.cart_id %}', 'window_name', 'width=430, height=500, location=yes, status=yes, scrollbars=yes');">카카오페이로 결제하기</button>
    </form>
  </div>
</div>
<script src="{% static 'cart/js/popup.js' %}"></script>
{% endblock content %}