{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Cart</h1>
<div class="row">
  <div class="col-8">
  {% for cart_item in cart_items %}
  <div class="d-flex">
    <div>
      <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" width="100px;">
    </div>
    <div>
      <p>{{ cart_item.product.name }} / {{ cart_item.quantity }} / {{ cart_item.product.price }} / {{ cart_item.sub_total }}</p>
      <p>
        <a href="{% url 'cart:add_cart' cart_item.product.pk %}">증가</a>
        <a href="{% url 'cart:cart_remove' cart_item.product.pk %}">감소</a>
        <a href="{% url 'cart:full_remove' cart_item.product.pk %}">제거</a>
      </p>
    </div>
  </div>
  {% if forloop.last %}
  <div>
  <p>총액 : {{ total }}</p>
  </div>
  {% endif %}
  {% empty %}
  <p>장바구니가 비어있습니다. 텅~</p>
  {% endfor %}
  </div>
  <div class="col-4">
    <h1 class="text-center">KAKAO PAY</h1>
    <form method="post" class="col-12 text-center" action="{% url 'kakaopay:wait' %}">
    {% csrf_token %}
      <input type="hidden" name="cart_id" value="{{ cart.cart_id }}">
      <button class="btn btn-warning" id="pay_btn" type="submit">카카오페이로 결제하기</button>
    </form>
  </div>
</div>
{% endblock content %}