<!--카테고리-->
<div class="category-bar">
  <div class="inner-category">
    <ul class="category-menu">
      <div class="menu1">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" fill="none"  color="#181A1C" style="margin-right: 8px;"><path d="M22 4H2v2h20V4Zm0 7H2v2h20v-2ZM2 18h20v2H2v-2Z" fill="#181A1C"></path></svg>
        <span>카테고리</span>
        <div class="category-wrap">
          <!--서브카테고리1-->
          <div class="sub-category">
            <ul class="inner-subcategory">
              <li class="sub-category-menu">
                <span>가공식품</span>
              </li>
              <li class="sub-category-menu">
                <span>농수축산물</span>
              </li>
              <li class="sub-category-menu">
                <span>배달용품</span>
              </li>
              <li class="sub-category-menu">
                <span>주방용품</span>
              </li>
            </ul>
          </div>
          <!--서브카테고리2-->
          <div class="sub-category2">
            <ul>
              <li class="subcategory2-menu">소시지/햄/육가공품</li>
              <li class="subcategory2-menu">차/음료/음료제조용</li>
              <li class="subcategory2-menu">베이커리/디저트/스낵</li>
              <li class="subcategory2-menu">조미료/소금/향신료</li>
              <li class="subcategory2-menu">소스/양념/육수</li>
              <li class="subcategory2-menu">유제품</li>
              <li class="subcategory2-menu">튀김류/만두류/순대</li>
              <li class="subcategory2-menu">절임식품//반찬/김치류</li>
              <li class="subcategory2-menu">가공기타</li>
            </ul>
</div>
        </div>
        
      </div>
      <div class="line"></div>
      <li class="menu2">초특가</li>
      <li class="menu2">인기상품</li>
      <li class="menu2">커뮤니티</li>
    </ul>
  </div>
</div>