<!--카테고리-->
<div class="category-bar">
  <div class="inner-category">
    <ul class="category-menu">
      <div class="menu1">
        <svg width="24" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" fill="none"  color="#181A1C" style="margin-right: 8px;"><path d="M22 4H2v2h20V4Zm0 7H2v2h20v-2ZM2 18h20v2H2v-2Z" fill="#181A1C"></path></svg>
        카테고리
      </div>
      <div class="line"></div>
      <li class="menu2">초특가</li>
      <li class="menu2">인기상품</li>
      <li class="menu2">커뮤니티</li>
    </ul>
  </div>
</div>